.pending-col {
  background-color: rgba(255, 152, 0, 0.12);
}

.progress-col {
  background-color: rgba(255, 193, 7, 0.15);
}

.completed-col {
  background-color: rgba(139, 195, 74, 0.15);
}

.priority-container {
  padding-bottom: 10px;   // Ajusta esto para subirla o bajarla un poco
  right: 0;    // Pegada al borde derecho del bloque de texto
  z-index: 1;
}

.pill {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

// Espacio de seguridad para el título
.pe-5 {
  padding-right: 4.5rem !important;
}

.task-card {
  transition: transform 0.2s;
}

.btn-hover:hover {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-primary-solid {
  background: rgba(253, 129, 58, 0.993) !important;
  color: white !important;
}

.btn-warn-solid {
  background: rgba(252, 73, 60, 0.904) !important;
  color: white !important;
}

.btn-primary-solid mat-icon,
.btn-warn-solid mat-icon {
  color: white !important;
}
